Integracao/IntegracaoCipEJB/src/br/com/sicoob/sisbr/sicoobdda/integracaocip/xml/modelo/arquivos/xsd/cip/ADDA002.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ADDA002"
	xmlns="http://www.bcb.gov.br/ARQ/ADDA002.xsd" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:cat="http://www.bcb.gov.br/catalogomsg" 
	targetNamespace="http://www.bcb.gov.br/ARQ/ADDA002.xsd" 
	elementFormDefault="qualified" version="9.1.0">

	<!-- Definição dos Tipos Globais -->
	<xs:include schemaLocation="ADDATIPOS.xsd"/>

	<!-- Definicao da mensagem -->
	<xs:element name="ADDADOC" type="ADDADOCComplexType">
		<xs:annotation>
			<xs:documentation>
				<cat:InfEvento>
					<cat:Evento>ADDA002 – Base de clientes pagadores</cat:Evento>
			        <cat:Descricao>Destinado ao DDA informar base de clientes pagadores.</cat:Descricao>
			        <cat:Observacao>Para detalhamento da utilização da mensagem, observar o manual de operações do DDA.</cat:Observacao>
			        <cat:Servico>Consultas DDA</cat:Servico>
					<cat:TipoFluxo>Fluxo4</cat:TipoFluxo>
				</cat:InfEvento>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType name="ADDADOCComplexType">
		<xs:sequence>
			<xs:element name="BCARQ" type="BCARQComplexType"/>
			<xs:element name="SISARQ" type="SISARQComplexType"/>
			<xs:element name="ESTARQ" type="ESTARQSimpleType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Definicao do SISMSG da mensagem -->
	<xs:complexType name="SISARQComplexType">
		<xs:choice>
			<xs:element name="ADDA002" type="ADDA002ComplexType">
				<xs:annotation>
					<xs:documentation>
						<cat:InfMensagem>
							<cat:Mensagem>DDA informa resposta da requisição de consulta na base de pagadores</cat:Mensagem>
							<cat:Emissor>DDA</cat:Emissor>
							<cat:Destinatario>Participante</cat:Destinatario>
						</cat:InfMensagem>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
 
	<xs:complexType name="ADDA002ComplexType">
		<xs:sequence>
			<xs:element name="NumCtrlReqOr" type="ControleIF">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Controle Requisição Original</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISPBPartPrincipal" type="ISPB">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>ISPB Participante Principal</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISPBPartAdmtd" type="ISPB">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>ISPB Participante Administrado</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumCtrlDDA" type="ControleIF">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Controle DDA</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grupo_ADDA002_Pagdr" type="Grupo_ADDA002_PagdrComplexType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Controle Requisição Original</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Grupo_ADDA002_PagdrComplexType">
		<xs:sequence>
			<xs:element name="TpPessoaPagdr" type="TpPessoa">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Tipo Pessoa Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CNPJ_CPFPagdr" type="CNPJ_CPF">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>CNPJ ou CPF Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SitCliPagdrDDA" type="SitCliPagdrDDA">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Situação Cliente Pagador DDA</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtHrSitAdesCliPagdrDDA" type="DataHora" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Hora Situação Adesão Cliente Pagador DDA</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndrAdesCliPagdrDDA" type="Indr">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Indicador Adesão Cliente Pagador DDA</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QtdAdesCliPagdrDDA" type="Qtd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Quantidade Adesão Cliente Pagador DDA</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtHrIniCadCliPagdrDDA" type="DataHora" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Hora Início Cadastro Cliente Pagador DDA</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtHrFimCadCliPagdrDDA" type="DataHora" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Hora Fim Cadastro Cliente Pagador DDA</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grupo_ADDA002_PagdrProprio" type="Grupo_ADDA002_PagdrProprioComplexType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Grupo Pagador Próprio</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Grupo_ADDA002_PagdrProprioComplexType">
		<xs:sequence>
			<xs:element name="NumIdentcPagdr" type="NumIdentcPagdr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Identificação Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumRefAtlCadCliPagdr" type="NumRefCad" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Referência Atual Cadastro Cliente Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumSeqAtlzCadCliPagdr" type="NumSeqAtlzCadDDA">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Sequência Atualização Cadastro Cliente Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SitCliPagdrPart" type="SitCliPagdrPart">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Situação Cliente Pagador Participante</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtHrSitCliPagdrPart" type="DataHora">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Hora Situação Cliente Pagador Participante</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grupo_ADDA002_CtCliPagdr" type="Grupo_ADDA002_CtCliPagdrComplexType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Grupo Conta Cliente Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grupo_ADDA002_AgrgdDDA" type="Grupo_ADDA002_AgrgdDDAComplexType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Grupo Agregado DDA</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Grupo_ADDA002_CtCliPagdrComplexType">
		<xs:sequence>
			<xs:element name="TpAgCliPagdr" type="TpAg">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>
							<cat:NomeCampo>Tipo Agência Cliente Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgCliPagdr" type="Agencia">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>
							<cat:NomeCampo>Agência Cliente Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TpCtCliPagdr" type="TpCtDDA">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>
							<cat:NomeCampo>Tipo Conta Cliente Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtCliPagdr" type="CtBancaria">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>
							<cat:NomeCampo>Conta Cliente Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtAdesCliPagdrDDA" type="Data" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>
							<cat:NomeCampo>Data Adesão Cliente Pagador DDA</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Grupo_ADDA002_AgrgdDDAComplexType">
		<xs:sequence>
			<xs:element name="SitAgrgd" type="SitAgrgd">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Situação Agregado</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TpPessoaAgrgd" type="TpPessoa">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Tipo Pessoa Agregado</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CNPJ_CPFAgrgd" type="CNPJ_CPF">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>CNPJ ou CPF Agregado</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>