Integracao/IntegracaoCipEJB/src/br/com/sicoob/sisbr/sicoobdda/integracaocip/xml/modelo/arquivos/xsd/cip/ADDA127.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ADDA127"
	xmlns="http://www.bcb.gov.br/ARQ/ADDA127.xsd" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:cat="http://www.bcb.gov.br/catalogomsg" 
	targetNamespace="http://www.bcb.gov.br/ARQ/ADDA127.xsd" 
	elementFormDefault="qualified" version="9.1.0">

	<!-- Definição dos Tipos Globais -->
	<xs:include schemaLocation="ADDATIPOS.xsd"/>

	<!-- Definicao da mensagem -->
	<xs:element name="ADDADOC" type="ADDADOCComplexType">
		<xs:annotation>
			<xs:documentation>
				<cat:InfEvento>
					<cat:Evento>ADDA127 – Boletos de Pagamento em aberto</cat:Evento>
					<cat:Descricao>Destinado ao DDA informar boletos de pagamento em aberto para nova adesão de cliente pagador.</cat:Descricao>
					<cat:Observacao>
					</cat:Observacao>
					<cat:Servico>Manutenção Cadastral de Boletos de Pagamento</cat:Servico>
					<cat:TipoFluxo>Fluxo1</cat:TipoFluxo>
				</cat:InfEvento>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType name="ADDADOCComplexType">
		<xs:sequence>
			<xs:element name="BCARQ" type="BCARQComplexType"/>
			<xs:element name="SISARQ" type="SISARQComplexType"/>
			<xs:element name="ESTARQ" type="ESTARQSimpleType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Definicao do SISMSG da mensagem -->
	<xs:complexType name="SISARQComplexType">
		<xs:choice>
			<xs:element name="ADDA127" type="ADDA127ComplexType">
				<xs:annotation>
					<xs:documentation>
						<cat:InfMensagem>
							<cat:Mensagem>DDA informa a base crítica de títulos para pagamento</cat:Mensagem>
							<cat:Emissor>DDA</cat:Emissor>
							<cat:Destinatario>Participante Recebedor</cat:Destinatario>
						</cat:InfMensagem>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
 
	<xs:complexType name="ADDA127ComplexType">
		<xs:sequence>
			<xs:element name="Grupo_ADDA127_Tit" type="Grupo_ADDA127_TitComplexType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Grupo Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Grupo_ADDA127_TitComplexType">
		<xs:sequence>
			<xs:element name="ISPBPartRecbdrPrincipal" type="ISPB">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>ISPB Participante Recebedor Principal</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISPBPartRecbdrAdmtd" type="ISPB">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>ISPB Participante Recebedor Administrado</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumCtrlDDA" type="ControleIF">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Controle DDA</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumIdentcTit" type="NumIdentcTit">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Identificação Titulo Aceito</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumRefAtlCadTit" type="NumRefCad" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Referência Atual Cadastro Titulo</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumSeqAtlzCadTit" type="NumSeqAtlzCadDDA">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Sequência Atualização Cadastro Titulo</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISPBPartDestinatario" type="ISPB">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>ISPB Participante Destinatário</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodPartDestinatario" type="CodIF" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Código Participante Destinatário</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TpPessoaBenfcrioOr" type="TpPessoa">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Tipo Pessoa Beneficiário Original</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CNPJ_CPFBenfcrioOr" type="CNPJ_CPF">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>CNPJ ou CPF Beneficiário Original</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nom_RzSocBenfcrioOr" type="Nom_RzSoc">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Nome ou Razão Social Beneficiário Original</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NomFantsBenfcrioOr" type="Nome" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Nome Fantasia Beneficiário Original</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LogradBenfcrioOr" type="RuaRem" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Logradouro Beneficiário Original</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CidBenfcrioOr" type="CidEnd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Cidade do Beneficiário Original</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UFBenfcrioOr" type="UF" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>UF Beneficiário Original</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CEPBenfcrioOr" type="CEP" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>CEP Beneficiário Original</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TpPessoaBenfcrioFinl" type="TpPessoa" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Tipo Pessoa Beneficiário Final</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CNPJ_CPFBenfcrioFinl" type="CNPJ_CPF" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>CNPJ ou CPF Beneficiário Final</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nom_RzSocBenfcrioFinl" type="Nom_RzSoc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Nome ou Razão Social Beneficiário Final</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NomFantsBenfcrioFinl" type="Nome" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Nome Fantasia Beneficiário Final</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TpPessoaPagdr" type="TpPessoa">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Tipo Pessoa Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CNPJ_CPFPagdr" type="CNPJ_CPF">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>CPF ou CNPJ Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nom_RzSocPagdr" type="Nom_RzSoc">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Nome ou Razão Social Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NomFantsPagdr" type="Nome" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Nome Fantasia Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LogradPagdr" type="RuaRem" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Logradouro do Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CidPagdr" type="CidEnd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Cidade do Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UFPagdr" type="UF" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>UF do Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CEPPagdr" type="CEP" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>CEP do Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TpIdentcSacdrAvalst" type="TpIdentcSacdrAvalst">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Tipo Identificação Sacador Avalista</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentcSacdrAvalst" type="IdentcSacdrAvalst" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Identificação Sacador Avalista</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nom_RzSocSacdrAvalst" type="Nom_RzSoc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Nome ou Razão Social Sacador Avalista</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodCartTit" type="CodCartTit">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Código Carteira Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodMoedaCNAB" type="CodMoedaCNAB">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Código Moeda CNAB</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentdNossoNum" type="IdentdNossoNum">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Identificador Nosso Número</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumCodBarras" type="NumCodBarras">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Código de Barras</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumLinhaDigtvl" type="NumLinhaDigtvl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Linha Digitável</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtVencTit" type="Data" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Vencimento Titulo</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VlrTit" type="Valor">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Valor Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumDocTit" type="NumDocTit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Documento Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodEspTit" type="CodEspTit">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Código Espécie Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtEmsTit" type="Data">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Emissão de Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QtdDiaPrott" type="QtdDias" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Quantidade Dias de Protesto</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtLimPgtoTit" type="Data" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Limite Pagamento Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TpPgtoTit" type="TpPgtoTit">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Tipo de Pagamento do Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumParcl" type="NumSeqInf" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>
							<cat:NomeCampo>Número Parcela</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QtdTotParcl" type="QtdParcl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>
							<cat:NomeCampo>Quantidade Total Parcelas</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>												
			<xs:element name="IndrTitNegcd" type="Indr">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Indicador Título Negociado</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndrBloqPgto" type="Indr">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Indicador Bloqueio Pagamento</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndrPgtoParcl" type="Indr">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Indicador Pagamento Parcial</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QtdPgtoParcl" type="QtdParcl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Quantidade Pagamento Parcial</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VlrAbattTit" type="Valor">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Valor Abatimento Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grupo_ADDA127_JurosTit" type="Grupo_ADDA127_JurosTitComplexType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo></cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grupo_ADDA127_MultaTit" type="Grupo_ADDA127_MultaTitComplexType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Grupo Multa Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grupo_ADDA127_DesctTit" type="Grupo_ADDA127_DesctTitComplexType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Grupo Desconto Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grupo_ADDA127_NotaFis" type="Grupo_ADDA127_NotaFisComplexType" minOccurs="0" maxOccurs="30">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Grupo Nota Fiscal</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TpVlr_PercMinTit" type="TpVlr_Perc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Indicador Valor ou Percentual Mínimo Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vlr_PercMinTit" type="Vlr_PercDDA" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Valor ou Percentual Mínimo do Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TpVlr_PercMaxTit" type="TpVlr_Perc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Indicador Valor ou Percentual Máximo Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vlr_PercMaxTit" type="Vlr_PercDDA" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Valor ou Percentual Máximo do Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TpModlCalc" type="TpModlCalc">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Tipo Modelo Cálculo</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TpAutcRecbtVlrDivgte" type="TpAutcRecbtVlrDivgte">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Tipo Autorização Recebimento Valor Divergente</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grupo_ADDA127_Calc" type="Grupo_ADDA127_CalcComplexType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Grupo Cálculo</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxtInfCliBenfcrio" type="Txt100" minOccurs="0" maxOccurs="100">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Texto Informação do Cliente Beneficiário</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumRefAtlActe" type="NumRefCad" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Referência Atual Aceite</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumSeqAtlzActe" type="NumSeqAtlzCadDDA" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Sequência Atualização Aceite</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndrActe" type="Indr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Indicador Aceite</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grupo_ADDA127_Terc" type="Grupo_ADDA127_TercComplexType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Grupo Terceiro</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SitTit" type="SitTit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Situação do Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtHrSit" type="DataHora">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Hora Situação</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QtdPgtoParclRegtd" type="QtdParcl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Quantidade Pagamento Parcial Registrado</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VlrSldTotAtlPgtoTit" type="Valor" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Valor Saldo Total Atual Pagamento Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SitTitPgto" type="SitTitPgto">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Situação Título Pagamento</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grupo_ADDA127_BaixaOperac" type="Grupo_ADDA127_BaixaOperacComplexType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Grupo Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grupo_ADDA127_BaixaEft" type="Grupo_ADDA127_BaixaEftComplexType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Grupo Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Grupo_ADDA127_JurosTitComplexType">
		<xs:sequence>
			<xs:element name="DtJurosTit" type="Data_CodErro" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Juros Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodJurosTit" type="CodJurosTit_CodErro">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Código Juros Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vlr_PercJurosTit" type="Vlr_PercDDA_CodErro">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Valor ou Percentual Juros Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Grupo_ADDA127_MultaTitComplexType">
		<xs:sequence>
			<xs:element name="DtMultaTit" type="Data_CodErro" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Multa Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodMultaTit" type="CodMultaTit_CodErro">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Código Multa Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vlr_PercMultaTit" type="Vlr_PercDDA_CodErro">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Valor ou Percentual Multa Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Grupo_ADDA127_DesctTitComplexType">
		<xs:sequence>
			<xs:element name="DtDesctTit" type="Data" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Desconto Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodDesctTit" type="CodDesctTit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Código Desconto Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vlr_PercDesctTit" type="Vlr_PercDDA">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Valor ou Percentual Desconto Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Grupo_ADDA127_NotaFisComplexType">
		<xs:sequence>
			<xs:element name="NumNotaFis" type="NumNotaFis_CodErro">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Nota Fiscal</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtEmsNotaFis" type="Data_CodErro">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Emissão Nota Fiscal</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VlrNotaFis" type="Valor_CodErro">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Valor Nota Fiscal</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Grupo_ADDA127_CalcComplexType">
		<xs:sequence>
			<xs:element name="VlrCalcdJuros" type="Valor_CodErro">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Valor Calculado Juros</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VlrCalcdMulta" type="Valor_CodErro">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Valor Calculado Multa</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VlrCalcdDesct" type="Valor_CodErro">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Valor Calculado Desconto</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VlrTotCobrar" type="Valor_CodErro">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Valor Total a Cobrar</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtValiddCalc" type="Data_CodErro">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Validade Cálculo</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
		
	<xs:complexType name="Grupo_ADDA127_TercComplexType">
		<xs:sequence>
			<xs:element name="NumIdentcTerc" type="NumIdentcTit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Identificação Terceiro</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumRefAtlCadTerc" type="NumRefCad"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Referência Atual Cadastro Terceiro</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>						
			<xs:element name="TpPessoaPagdrAutdr" type="TpPessoa">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Tipo Pessoa Pagador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CNPJ_CPFPagdrAutdr" type="CNPJ_CPF">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>CNPJ ou CPF Agregado</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TpPessoaTerc" type="TpPessoa">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Tipo Pessoa Terceiro</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CNPJ_CPFTerc" type="CNPJ_CPF">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>CNPJ ou CPF Terceiro</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SitTerc" type="SitTerc">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Situação do Terceiro</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>			
		</xs:sequence>			
	</xs:complexType>
	
	<xs:complexType name="Grupo_ADDA127_BaixaOperacComplexType">
		<xs:sequence>
			<xs:element name="NumIdentcBaixaOperac" type="NumIdentcTit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Identificação Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumRefAtlBaixaOperac" type="NumRefCad" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Referência  Atual Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumSeqAtlzBaixaOperac" type="NumSeqAtlzCadDDA">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Sequência Atualização Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumRefCadTitBaixaOperac" type="NumRefCad" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>
							<cat:NomeCampo>Número Referência Cadastro Titulo Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumRefAtlCadTitBaixaOperac" type="NumRefCad" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>
							<cat:NomeCampo>Número Referência Atual Cadastro Titulo Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element name="ISPBPartRecbdrBaixaOperac" type="ISPB">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>ISPB Participante Recebedor Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodPartRecbdrBaixaOperac" type="CodIF" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Código Participante Recebedor Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TpBaixaOperac" type="TpBaixaOperac">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Tipo de Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SitBaixaOperac" type="SitBaixaOperac">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Situação de Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtHrSitBaixaOperac" type="DataHora">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Hora Situação Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grupo_ADDA127_DettBaixaOperac" type="Grupo_ADDA127_DettBaixaOperacComplexType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Grupo Detalhamento Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grupo_ADDA127_CanceltBaixaOperac" type="Grupo_ADDA127_CanceltBaixaOperacComplexType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Grupo Cancelamento Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Grupo_ADDA127_DettBaixaOperacComplexType">
		<xs:sequence>
			<xs:element name="TpPessoaPort" type="TpPessoa" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Tipo Pessoa Portador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CNPJ_CPFPort" type="CNPJ_CPF" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>CPF ou CNPJ Portador</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtHrProcBaixaOperac" type="DataHora">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Hora Processamento Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtProcBaixaOperac" type="Data">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Processamento Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VlrBaixaOperacTit" type="Valor">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Valor Baixa Operacional Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumCodBarrasBaixaOperac" type="NumCodBarras">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Código de Barras Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CanPgtoBaixaOperac" type="CanPgto" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Canal Pagamento</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeioPgtoBaixaOperac" type="MeioPgto" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Meio Pagamento</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndrOpContg" type="Indr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Indicador Operação Contingência</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Grupo_ADDA127_CanceltBaixaOperacComplexType">
		<xs:sequence>
			<xs:element name="DtHrCanceltBaixaOperac" type="DataHora">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Hora Cancelamento Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtCanceltBaixaOperac" type="Data">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Cancelamento Baixa Operacional</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Grupo_ADDA127_BaixaEftComplexType">
		<xs:sequence>
			<xs:element name="NumIdentcBaixaEft" type="NumIdentcTit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Identificação Baixa Efetiva</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumRefAtlBaixaEft" type="NumRefCad" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Referência Atual Baixa Efetiva</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumSeqAtlzBaixaEft" type="NumSeqAtlzCadDDA">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Sequência Atualização Baixa Efetiva</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumIdentcBaixaOperacBaixaEft" type="NumIdentcTit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>
							<cat:NomeCampo>Número Identificação Baixa Operacional Baixa Efetiva</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element name="TpBaixaEft" type="TpBaixaEft">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Tipo de Baixa Efetiva</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISPBPartRecbdrBaixaEft" type="ISPB" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>ISPB Participante Recebedor Baixa Efetiva</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodPartRecbdrBaixaEft" type="CodIF" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Código Participante Recebedor Baixa Efetiva </cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtHrProcBaixaEft" type="DataHora">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Hora Processamento Baixa Efetiva</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtProcBaixaEft" type="Data">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Processamento Baixa Efetiva</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VlrBaixaEftTit" type="Valor" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Valor Baixa Efetiva Título</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumCodBarrasBaixaEft" type="NumCodBarras" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Número Código de Barras Baixa Efetiva</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CanPgtoBaixaEft" type="CanPgto" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Canal de Pagamento</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeioPgtoBaixaEft" type="MeioPgto" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Meio de Pagamento</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtHrSitBaixaEft" type="DataHora">
				<xs:annotation>
					<xs:documentation>
						<cat:InfCampo>	
							<cat:NomeCampo>Data Hora Situação Baixa Efetiva</cat:NomeCampo>
						</cat:InfCampo>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>