Integracao/IntegracaoCipEJB/src/br/com/sicoob/sisbr/sicoobdda/integracaocip/xml/modelo/arquivos/xsd/sdda/AGEN001.xsd

<xs:schema id='AGEN001' xmlns='http://www.bcb.gov.br/ARQ/AGEN001.xsd' xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:cat='http://www.bcb.gov.br/catalogomsg' targetNamespace='http://www.bcb.gov.br/ARQ/AGEN001.xsd' elementFormDefault='qualified' version='9.1.0'><xs:include schemaLocation='ADDATIPOS.xsd'></xs:include><xs:complexType name='SISARQComplexType'><xs:choice><xs:element name='AGEN001' type='AGEN001ComplexType'><xs:annotation><xs:documentation><cat:InfMensagem><cat:Mensagem>IF requisita Teste de Conectividade</cat:Mensagem><cat:Emissor>Participante</cat:Emissor><cat:Destinatario>C칙mara</cat:Destinatario></cat:InfMensagem></xs:documentation></xs:annotation></xs:element><xs:element name='AGEN001RET' type='AGEN001ComplexType'><xs:annotation><xs:documentation><cat:InfMensagem><cat:Mensagem>C칙mara retorna resultado do teste de conectividade do canal de arquivos</cat:Mensagem><cat:Emissor>C칙mara</cat:Emissor><cat:Destinatario>Participante</cat:Destinatario></cat:InfMensagem></xs:documentation></xs:annotation></xs:element></xs:choice></xs:complexType><xs:complexType name='AGEN001ComplexType'><xs:sequence><xs:element name='ISPBEmissor' type='ISPB'><xs:annotation><xs:documentation><cat:InfCampo><cat:NomeCampo>ISPB Emissor</cat:NomeCampo></cat:InfCampo></xs:documentation></xs:annotation></xs:element><xs:element name='ISPBDestinatario' type='ISPB'><xs:annotation><xs:documentation><cat:InfCampo><cat:NomeCampo>ISPB Destinat치rio</cat:NomeCampo></cat:InfCampo></xs:documentation></xs:annotation></xs:element><xs:element name='MsgECO' type='MsgECO'><xs:annotation><xs:documentation><cat:InfCampo><cat:NomeCampo>Mensagem ECO</cat:NomeCampo></cat:InfCampo></xs:documentation></xs:annotation></xs:element></xs:sequence></xs:complexType></xs:schema>